button{
    border-radius: 50px;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    width: 100%;
    outline: 0;
    font-size: .8em;
    letter-spacing: 1px;
    font-weight: 600;
    background: transparent;
    border: none;
    color: $color-white-1;
    transition: all .3s;
}