$color-dark-1: #181818;
$color-dark-2: #191919;
$color-dark-3: rgba(0, 0, 0, 0.2);
$color-dark-4: rgba(0, 0, 0, 0.1);
$color-dark-5: rgba(0, 0, 0, .3);
$color-purple-1: #b61984;
$color-white-1:#ffffff;
$color-white-2:rgba(255,255,255,.1);
$color-yellow-1:#ffd043;
$color-blue-1: #00a0d2;
$color-blue-2: #dcd1f3;

//font size
$fs-1: 15px;
$fs-2: 13px;
$fs-3: 0.9em;
$fs-4: 0.9rem;
$fs-5: 1.1rem;
$fs-6: 3.8rem;
$fs-7: 0.75rem;
$fs-8: 1.55rem;
$fs-9: 2.5rem;
$fs-10: 0.8em;
$fs-11: 1rem;
$fs-12: 1.25em;
$fs-13: 1em;
$fs-14: 3.15rem;
$fs-15: 2rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//letter spacing
$ls-1: 1px;

//padding
$pd-1: 1em;
$pd-2: 2em;
$pd-3: 20px;
$pd-4: 3.5em;
$pd-5: 0.8em;
$pd-6: 4em;
$pd-7: 8em;
$pd-8: 40px;
$pd-9: 0.2em;
$pd-10: 1.1em;
$pd-11: 1.5em;
$pd-12: 0.5em;
$pd-13: 50px;
$pd-14: 25px;
$pd-15: 3em;
$pd-16: 1.8em;
$pd-17: 24px;


//margin
$mg-1: 0.5em;
$mg-2: 1em;
$mg-3: 2em;
$mg-4: 4em;
$mg-5: 20px;
$mg-6: 0.7em;
$mg-7: 35px;
$mg-8: -20px;
$mg-9: 40px;
$mg-10: 50px;
$mg-11: 24px;
$mg-12: 80px;
$mg-13: 45px;
$mg-14: 6px;

//border
$bd-1: 2px;
$bd-2: 50px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);